.crew {
  display: flex;
  justify-content: space-between;

  @include respond(small-screen) {
    flex-direction: column;
    justify-content: center;
  }

  @include respond(phone) {
    flex-direction: column-reverse;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 60rem;

    @include respond(small-screen) {
      justify-content: center;
      height: auto;
    }

    @include respond(phone) {
      flex-direction: column-reverse;
    }
  }

  &__box {
    padding-top: 10rem;
    @include respond(small-screen) {
      padding-top: 0;
      padding-bottom: 2rem;
    }
  }
  &__function {
    color: rgba($color-grey, 0.5);
  }

  &__text {
    max-width: 45rem;

    @include respond(small-screen) {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__img-box {
    @include respond(phone) {
      border-bottom: 1px solid rgba($color-black, 0.5);
      margin-bottom: 3.2rem;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 50rem;
    @include respond(small-screen) {
      max-height: 53rem;
    }

    @include respond(phone) {
      max-height: 23rem;
    }
  }
}
