.home {
  margin-top: 25rem;
  display: flex;
  justify-content: space-between;

  @include respond(small-screen) {
    margin-top: 10rem;
    flex-direction: column;
  }

  @include respond(phone) {
    margin-top: 5rem;
  }

  @include respond(mh) {
    margin-top: 13rem;
  }

  &__text-box {
    max-width: 45rem;

    @include respond(small-screen) {
      margin-bottom: 16rem;
      align-self: center;
    }
    @include respond(phone) {
      max-width: 100%;
      margin-bottom: 8.6rem;
    }
  }
  h5 {
    color: $color-grey;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: end;
    justify-self: end;
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    background-color: $color-primary;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 3.2rem;
    color: $color-black;
    cursor: pointer;

    @include respond(small-screen) {
      align-self: center;
      justify-self: center;
      margin-bottom: 10rem;
      width: 24rem;
      height: 24rem;
    }

    @include respond(phone) {
      margin-bottom: 5rem;
      width: 15rem;
      height: 15rem;
      font-size: 2rem;
    }

    &:hover::after {
      content: "";
      display: block;
      width: 45rem;
      height: 45rem;
      background-color: rgba($color-grey, 0.1);
      position: absolute;
      border-radius: 50%;

      @include respond(tab) {
        background-color: transparent;
      }
    }
  }
}
