.section__technology {
  max-width: 144rem;
  margin: 0 auto;
  padding-left: 16.5rem;

  @include respond(small-screen) {
    padding: 0;
  }
}
.techn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(small-screen) {
    flex-direction: column-reverse;
  }

  &__content {
    display: flex;
    @include respond(small-screen) {
      flex-direction: column;
    }
  }
  &__text-box {
    max-width: 47rem;
    margin-right: 5rem;
    @include respond(small-screen) {
      margin-right: 0;
    }

    @include respond(tab) {
      margin-bottom: 5rem;
    }
  }
  &__terminology {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include respond(small-screen) {
      margin-bottom: 1.6rem;
    }

    @include respond(phone) {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }

  &__img {
    width: 100%;
    @include respond(small-screen) {
      margin-bottom: 5.6rem;
    }
  }
}
