.header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 144rem;
  margin: 4rem auto 0 auto;
  // position: relative;

  @include respond(small-screen) {
    margin: 0 auto;
  }

  @include respond(phone) {
    height: 100%;
    padding: 2.4rem 2.4rem 0;
  }

  &__logo {
    padding-left: 5.5rem;

    @include respond(tab) {
      padding-left: 4rem;
    }
    @include respond(phone) {
      padding: 0;
    }
  }
}

.navigation {
  height: 100%;
  text-transform: uppercase;
  background-color: rgba($color-primary, 0.04);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  @supports not (
    (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur())
  ) {
    background-image: linear-gradient(rgba(#464d5e, 0.8), rgba(#464d5e, 0.8));
  }

  position: relative;

  @include respond(phone) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    transform: translateX(100%);
    transition: all 0.3s ease-out;
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__list {
    list-style: none;
    height: 100%;
    display: flex;
    padding: 0 17rem 0 12rem;

    @include respond(small-screen) {
      padding: 0 4rem;
    }

    @include respond(phone) {
      flex-direction: column;
      padding: 11rem 0 0 4rem;
      height: auto;
    }
  }

  &__item {
    position: relative;
    transition: all 0.5s;

    height: 100%;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 5rem;

      @include respond(small-screen) {
        margin-right: 4rem;
      }

      @include respond(phone) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
    }
  }

  &__link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: $color-primary;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 400;
    letter-spacing: 2px;

    @include respond(tab) {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

    @include respond(phone) {
      font-size: 1.6rem;
      line-height: 1.9rem;
    }

    span {
      margin-right: 0.9rem;

      @include respond(tab) {
        display: none;
      }

      @include respond(phone) {
        display: inline-block;
      }
    }

    &:hover::after {
      content: "";
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: rgba($color-grey, 0.5);
      bottom: 0;

      @include respond(phone) {
        right: 0;
        height: 100%;
        width: 5px;
      }
    }
  }

  //White line above active nav menu page

  &__active::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgba($color-grey, 1);
    bottom: 0;
    color: $color-primary;
    pointer-events: none;

    @include respond(phone) {
      right: 0;
      height: 100%;
      width: 5px;
    }
  }
}

.mob-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  z-index: 100;
}

#menu-x {
  display: none;
  z-index: 100;
}
@include respond(phone) {
  .mob-btn {
    display: block;
  }

  .nav-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
}
